<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <!--this is the main content section of the website -->
    <div class="container">
        <!--NOTE: This is where the code from the main view is inserted -->
        <h1 class="text-center">Bevo's Bookstore Home</h1>
        <br />
        <div class="text-center">
            <a class="btn btn-primary" href="/Home/CheckoutDirect">Direct Order</a>
            <a class="btn btn-danger" href="/Home/CheckoutWholesale">Wholesale Order</a>
        </div>
    </div>

    <!--This code references different script libraries to make your page responsive -->
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>